h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-family: Lora, serif;
  --pico-font-weight: 600;
}

body {
  --pico-font-family: Inter, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

footer {
  text-align: center;
}

.footer-links {
  padding-inline-start: 0px;
}

.footer-link {
  display: inline-block;
  margin-inline: 8px;
}

.container {
  max-width: 700px;
}

main {
  flex: 1;
}

ul > li {
  list-style: disc;
}

.post-list > li {
  list-style: none;
}

.post-list > li > .post-title {
  margin-block-start: 4rem;
}

.post-date {
  color: var(--pico-muted-color);
}

[data-theme="light"],
:root:not([data-theme="dark"]),
:host:note([date-theme="dark"]) {
  --pico-primary: var(--pico-color-slate-600);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    --pico-primary: var(--pico-color-blue-600);
  }
}

[data-theme="dark"] {
  --pico-primary: var(--pico-color-blue-600);
}

img {
  max-height: 40rem;
  object-fit: contain;
  margin: 24px;
}

.post-list-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.post-list {
  list-style-type: none;
  padding-inline-start: 0px;
}
