---
title: Exercise Log
layout: page
override:tags: footer-page
---

<p>To help me stay accountable, I post my exercise stats here.</p>

{%- for log in collections.exercise | reverse -%}
    <ul>
        <li>
            <a href={{ log.url }}>{{ log.data.title }}</a>
        </li>
    </ul>
{%- endfor -%}