---
layout: layout
title: Posts
---

<p>Hi, I'm Peter. I write here about productivity, technology, personal development, and making things.</p>

<div>Writing</div>

{%- for year, posts in collections.post | groupby('data.year') | dictsort | reverse -%}
    <section>
        <h2>{{ year }}</h2>
        <ul >
            {%- for post in posts | reverse -%}
                <li >
                    <a href="{{ post.url }}">
                        <span >{{ post.data.title }}</span>
                        <time >{{ post.date | date('d LLL') }}</time>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </section>
{%- endfor -%}
