---
layout: layout
title: Posts
---

<p>
    <strong>Hi, I'm Peter 👋</strong>
</p>
<p>
    Here, I like to share my thoughts on productivity, technology, personal development, and creativity.
</p>
<h1>Posts</h1>
<ul class="post-list">
    {%- for post in collections.post -%}
        <li class="post-list-item">
            <time class="post-date" datetime="{{ post.date }}">{{ post.date | date('DD') }}</time>

            <a href={{ post.url }}>{{ post.data.title }}</a>
        </li>
    {%- endfor -%}
</ul>