---
layout: layout
title: Posts
---

<div id="strapline">
    <p>Hi, I'm Peter. I write here about productivity, technology, personal development, and making things.</p>

    <small>I'm a software engineer and musician from York, England.</small>
</div>

<hr/>

{%- for year, posts in collections.post | groupby('data.year') | dictsort | reverse -%}
    <section class="posts-year">
        <h3>{{ year }}</h3>
        <ul class="post-list">
            {%- for post in posts | reverse -%}
                <li class="post-list-item">

                    <a class="post-list-title" href="{{ post.url }}">{{ post.data.title }}</a>
                    <time class="post-list-date">{{ post.date | date('d LLL') }}</time>

                </li>
            {%- endfor -%}
        </ul>
    </section>
{%- endfor -%}