---
layout: post
---

<hr>

<p>
    <em>This post was edited with the help of an AI model. <a href="/ai">I don't do that anymore</a>, but I've added a notice to this post for transparancy.</em>
</p>
<hr>

{{ content | safe }}