---
layout: layout
tags: post
---

<hgroup>
    <h1>{{title}}</h1>
</hgroup>
{{ content | safe }}
<div class="bubbles-vote" data-url="https://ptrbrynt.com{{ page.url }}"></div>
<script src="https://bubbles.town/vote.js" defer="defer"></script>