---
layout: layout
date: Created
---

<hgroup>
    <h1>{{title}}</h1>
</hgroup>
{{ content | safe }}

<br>

<ul class="post-footer-items">
    <li class="post-footer-item">
        <small>
            <time class="post-date" datetime="{{ page.date }}">{{ page.date | date('ffff') }}</time>
        </small>
    </li>
    <li class="post-footer-item">
        <small>
            <a href="mailto:pb@ptrbrynt.com?subject=Re: {{ title }}">Reply by email</a>
        </small>
    </li>
</ul>