---
layout: layout
---

<header >
    <h1>{{ title }}</h1>
</header>

<section >

    <div >
        <span >Duration</span>
        <span >{{ duration }}</span>
    </div>

    {% if distance %}
        <div >
            <span >Distance</span>
            <span >{{ distance }} km</span>
        </div>
    {% endif %}

    {% if elevation %}
        <div >
            <span >Elevation Gain</span>
            <span >{{ elevation }} m</span>
        </div>
    {% endif %}

    {% if cadence %}
        <div >
            <span >Cadence</span>
            <span >{{ cadence }} spm</span>
        </div>
    {% endif %}

    <div >
        <span >Active Calories</span>
        <span >{{ calories }} kcal</span>
    </div>

    {% if heart_rate_avg %}
        <div >
            <span >Avg Heart Rate</span>
            <span >{{ heart_rate_avg }} bpm</span>
        </div>
    {% endif %}

    {% if heart_rate_max %}
        <div >
            <span >Max Heart Rate</span>
            <span >{{ heart_rate_max }} bpm</span>
        </div>
    {% endif %}

</section>

{% if notes %}
    <section >
        {{ notes | safe }}
    </section>
{% endif %}